# Dart / Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
pubspec.lock
*.iml
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Android
android/local.properties
android/.gradle/
android/captures/
android/key.properties
*.jks
*.keystore
*.apk
*.aab

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
